/* Background styles for MPHS website */

.body-bg-image {
    position: relative;
    background-image: url('images/MPHS-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.body-bg-image {
  position: relative;
  z-index: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f7f9fc;
}
.body-bg-image::before {
  content: '';
  position: fixed;
  top: 0; left: 0; width: 100vw; height: 100vh;
  z-index: -1;
  background-image: url('<?php echo $bg_image; ?>');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.25;
  filter: brightness(1);
}